In [1]:
# Import standard library modules
import sys

# Set the relative path to the project root directory
relative_path_to_root = "../../"

# Add the project root to the system path for importing in-house modules
sys.path.append(relative_path_to_root)

# Import in-house modules from the 'utilities' package
from utilities import load_data, save_data

In [2]:
# Data manipulation and analysis
import pandas as pd

In [3]:
file_name = "updated_w_nas"
file_path = f"../../data/raw_data/{file_name}"

raw_data = load_data(file_path)

╔═══════════════════════════════════════════════════════════════╗
║ File `updated_w_nas.csv.bz2` loaded from `updated_w_nas.zip`  ║
╚═══════════════════════════════════════════════════════════════╝

In [4]:
# raw_data date range

print("Start date: ", raw_data["Date"].min())
print("End date: ", raw_data["Date"].max())

Start date:  2008-01-02
End date:  2024-10-28

In [5]:
print("Shape:", raw_data.shape)
raw_data.head()

Shape: (2121735, 18)

,Date,Ticker,Adjusted Close,Today to Tomorrow,Yesterday to Today,Next Day Close,Previous Day Close,Return,Volatility,RSI,SMA_50,SMA_100,SMA_200,Upper Band,Lower Band,Support,Resistance,Action
0,2008-01-02,A,23.256388,-1.0,-1.0,23.025745,23.538284,-0.011976,0.015704,48.827595,23.314173,23.299887,23.564934,24.727250,22.540232,21.392027,24.351938,short
1,2008-01-02,AAPL,5.876342,1.0,-1.0,5.879056,5.974059,-0.016357,0.018937,59.067417,5.518483,4.939064,4.197630,6.135834,5.403559,4.637375,6.026838,buy
2,2008-01-02,ABBV,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3,2008-01-02,ABNB,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4,2008-01-02,ABT,18.130213,-1.0,-1.0,18.019760,18.240650,-0.006054,0.010484,34.677270,18.138458,17.628250,17.709028,19.233109,18.221802,16.775555,19.134012,short

In [6]:
def split_dataset_by_date(raw_data: pd.DataFrame, start_date: str, end_date: str):
    # Filter data by date range
    filter_data_by_date = (raw_data["Date"] >= start_date) & (raw_data["Date"] <= end_date)

    return raw_data[filter_data_by_date]

In [7]:
start_date = "2024-10-28"
end_date = "2024-10-28"

data = split_dataset_by_date(raw_data, start_date, end_date)

print("Start date:", data["Date"].min())
print("End date:", data["Date"].max())
print("Requested start date:", start_date)
print("Requested end date:", end_date)

Start date: 2024-10-28
End date: 2024-10-28
Requested start date: 2024-10-28
Requested end date: 2024-10-28

In [8]:
print("Shape:", data.shape)
data

Shape: (501, 18)

,Date,Ticker,Adjusted Close,Today to Tomorrow,Yesterday to Today,Next Day Close,Previous Day Close,Return,Volatility,RSI,SMA_50,SMA_100,SMA_200,Upper Band,Lower Band,Support,Resistance,Action
2121234,2024-10-28,A,131.620,NaN,1.0,NaN,130.19,0.010984,0.012264,21.425411,140.169080,136.640840,137.961560,151.502270,128.73973,130.1900,148.24400,NaN
2121235,2024-10-28,AAPL,233.490,NaN,1.0,NaN,231.41,0.008988,0.013784,63.955185,226.950400,222.175250,201.011900,237.876570,222.29343,216.3200,236.48000,NaN
2121236,2024-10-28,ABBV,189.740,NaN,1.0,NaN,187.85,0.010061,0.008103,45.739376,192.653440,183.300860,174.407040,196.414630,185.96626,186.5400,197.77069,NaN
2121237,2024-10-28,ABNB,135.820,NaN,1.0,NaN,134.58,0.009214,0.014882,57.457336,125.337400,133.320100,143.597980,140.080760,125.49424,114.2800,137.19000,NaN
2121238,2024-10-28,ABT,114.130,NaN,-1.0,NaN,114.22,-0.000788,0.010339,50.131912,114.222595,109.517050,109.521515,119.484985,111.09392,110.2504,119.39000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121730,2024-10-28,XYL,130.835,NaN,1.0,NaN,130.42,0.003182,0.009305,39.970257,133.478420,134.334370,130.949620,138.418910,129.50359,126.7100,137.53000,NaN
2121731,2024-10-28,YUM,134.870,NaN,1.0,NaN,133.04,0.013755,0.006897,50.767624,134.574110,133.394600,134.047180,138.692950,130.99506,129.7100,139.92000,NaN
2121732,2024-10-28,ZBH,103.550,NaN,1.0,NaN,102.35,0.011725,0.010933,56.671688,107.229390,107.883995,115.284256,107.086190,101.50781,101.7700,115.91237,NaN
2121733,2024-10-28,ZBRA,363.530,NaN,1.0,NaN,360.09,0.009553,0.009969,43.505260,356.281000,337.452000,311.584440,380.047030,359.12097,320.7700,377.68000,NaN
2121734,2024-10-28,ZTS,182.850,NaN,1.0,NaN,180.01,0.015777,0.013254,42.451588,189.078800,183.390370,179.182240,197.458200,181.45679,180.0100,196.48000,NaN

In [9]:
# file_name = "select_date_data"
# file_path = f"../../data/raw_data/{file_name}"

# save_data(data, file_path)